
<% provide(:title, 'Home') %>

<div class="hero-unit">
<h1>Create a Lottery Event!</h1>
	<p>
		<ol>
			<li>Create your very own lottery 
			<li>Invite people to participate through an email
			<li>Congregate in the same location
			<li>Draw the winners!
		</ol> 
		
		<%= link_to 'Get Started', new_event_path, { class: "btn btn-primary" } %>
	</p>
</div>

