@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

nav {
	@include clearfix;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea; color: #999;
}

